__pycache__
/venv
venv
Measurements_2026_05_08/wyniki/All_files_merged/0_All_measurements_merged.csv
Measurements_30_06_2026/wyniki/All_measurements_merged.csv
Measurements_30_06_2026/wyniki/9_ref_strip_by_strip_carrier_789_merged.csv
Measurements_30_06_2026/wyniki/8_ref_strip_by_strip_carrier_701_merged.csv
Measurements_30_06_2026/wyniki/7_ref_strip_by_strip_carrier_613_merged.csv
Measurements_30_06_2026/wyniki/6_ref_strip_by_strip_carrier_526_merged.csv
Measurements_30_06_2026/wyniki/5_ref_strip_by_strip_carrier_438_merged.csv
Measurements_30_06_2026/wyniki/4_ref_strip_by_strip_carrier_350_merged.csv
Measurements_30_06_2026/wyniki/3_ref_strip_by_strip_carrier_263_merged.csv
Measurements_30_06_2026/wyniki/3_full_codebook_merged.csv
Measurements_30_06_2026/wyniki/2_ref_strip_by_strip_carrier_175_merged.csv
Measurements_30_06_2026/wyniki/2_Arranged_codebook_merged.csv
Measurements_30_06_2026/wyniki/1_ref_strip_by_strip_carrier_87_merged.csv
Measurements_30_06_2026/wyniki/1_euklides_codebook_merged.csv
Measurements_30_06_2026/wyniki/0_ref_strip_by_strip_carrier_0_merged.csv
*.csv
*.pkl
*.png
